# データの前処理

In [47]:
import pandas as pd


JPT = 1962  # seed値用

### 人口流入数が増加している自治体
1. 神山町（徳島県） - 都市部からの移住者を惹きつける政策を進め、特にテレワークの推進や企業の誘致に成功しています。
1. 嬉野市（佐賀県） - 温泉地としての魅力を活かし、移住支援策を充実させ人口流入を促進しています。
1. 小布施町（長野県） - 豊かな自然と芸術文化が魅力で、若者やアーティストの移住が増えています。
1. 南城市（沖縄県） - 沖縄の自然と文化を生かした移住政策が功を奏し、多くの人々が移住しています。
1. 上天草市（熊本県） - 海と自然に囲まれ、地域全体で移住者を受け入れる体制を整えています。
1. 野沢温泉村（長野県） - 温泉とウィンタースポーツが魅力の地域で、国内外からの観光客に加えて移住者も増えています。
1. 大潟村（秋田県） - 農業が盛んで、若者の農業参入を支援する政策が功を奏しています。

#### Well-Being指数の読み込みと前処理
元データがsjisのため、エンコードに注意

In [48]:
df_well_being_hiroshima = pd.read_csv('../data/2023年度版(令和5年度版) Well-Being 全国調査_広島県全域（都道府県表示）_客観.csv', encoding='sjis')

df_well_being_kamiyama = pd.read_csv('../data/2023年度版(令和5年度版) Well-Being 全国調査_徳島県神山町_客観.csv', encoding='sjis')
df_well_being_ureshino = pd.read_csv("../data/2023年度版(令和5年度版) Well-Being 全国調査_佐賀県嬉野市_客観.csv", encoding='sjis')
df_well_being_obuse = pd.read_csv("../data/2023年度版(令和5年度版) Well-Being 全国調査_長野県小布施町_客観.csv", encoding='sjis')
df_well_being_nanjo = pd.read_csv("../data/2023年度版(令和5年度版) Well-Being 全国調査_沖縄県南城市_客観.csv", encoding='sjis')
df_well_being_kamiamakusa = pd.read_csv("../data/2023年度版(令和5年度版) Well-Being 全国調査_熊本県上天草市_客観.csv", encoding='sjis')
df_well_being_nozawaonsen = pd.read_csv("../data/2023年度版(令和5年度版) Well-Being 全国調査_長野県野沢温泉村_客観.csv", encoding='sjis')
df_well_being_ogata = pd.read_csv("../data/2023年度版(令和5年度版) Well-Being 全国調査_秋田県大潟村_客観.csv", encoding='sjis')
# データの先頭5行を表示
df_well_being_hiroshima = df_well_being_hiroshima.T[5:6]
df_well_being_hiroshima["自治体"] = "広島県"
df_well_being_hiroshima.set_index("自治体", inplace=True)

df_well_being_kamiyama = df_well_being_kamiyama.T[5:6]
df_well_being_kamiyama["自治体"] = "徳島県神山町"
df_well_being_kamiyama.set_index("自治体", inplace=True)

df_well_being_ureshino = df_well_being_ureshino.T[5:6]
df_well_being_ureshino["自治体"] = "佐賀県嬉野市"
df_well_being_ureshino.set_index("自治体", inplace=True)

df_well_being_obuse = df_well_being_obuse.T[5:6]
df_well_being_obuse["自治体"] = "長野県小布施町"
df_well_being_obuse.set_index("自治体", inplace=True)

df_well_being_nanjo = df_well_being_nanjo.T[5:6]
df_well_being_nanjo["自治体"] = "沖縄県南城市"
df_well_being_nanjo.set_index("自治体", inplace=True)

df_well_being_kamiamakusa = df_well_being_kamiamakusa.T[5:6]
df_well_being_kamiamakusa["自治体"] = "熊本県上天草市"
df_well_being_kamiamakusa.set_index("自治体", inplace=True)

df_well_being_nozawaonsen = df_well_being_nozawaonsen.T[5:6]
df_well_being_nozawaonsen["自治体"] = "長野県野沢温泉村"
df_well_being_nozawaonsen.set_index("自治体", inplace=True)

df_well_being_ogata = df_well_being_ogata.T[5:6]
df_well_being_ogata["自治体"] = "秋田県大潟村"
df_well_being_ogata.set_index("自治体", inplace=True)

## 移動人口
流入数と流出数をDataFrameに格納する

In [49]:
# 広島県
df_hiroshima_moving_in = pd.read_csv("../data/out/moving_in_2023.csv")
df_hiroshima_moving_out = pd.read_csv("../data/out/moving_out_2023.csv")
df_hiroshima_moving_index = df_hiroshima_moving_in["Unnamed: 0"]
df_hiroshima_moving = pd.concat(
    [
        df_hiroshima_moving_index, 
        df_hiroshima_moving_in.drop(["Unnamed: 0"], axis=1) - df_hiroshima_moving_out.drop(["Unnamed: 0"], axis=1),
    ], axis=1)
df_hiroshima_moving.rename(columns={"Unnamed: 0": "5歳階級別"}, inplace=True)
df_hiroshima_moving

,5歳階級別,総計,移動の主因者_総数,移動の主因者_就職,移動の主因者_転勤,移動の主因者_転業・転職,移動の主因者_退職・廃業,移動の主因者_入学・転校,移動の主因者_通勤・通学の便,移動の主因者_結婚・離婚・養子縁組,移動の主因者_子育て環境上,移動の主因者_介護,移動の主因者_住宅事情,移動の主因者_その他,移動の主因者_不詳,主因者に伴う者
0,0～4歳,-34.073320,10.907773,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.952510,6.586408,0.000000,-1.861400,-2.173933,10.309208,-44.981093
1,5～9歳,-24.489706,15.945314,0.000000,0.000000,0.000000,0.000000,6.950847,0.000000,0.182220,8.265588,0.000000,0.000000,-5.584200,6.130859,-40.435021
2,10～14歳,31.445593,16.634989,0.000000,0.000000,0.000000,0.000000,20.852542,2.134729,-3.905020,0.273329,0.000000,-1.952510,-3.176141,2.408059,14.810603
3,15～19歳,-527.123989,-430.812144,45.855838,62.648736,-12.300921,-25.877380,-223.268565,6.820534,0.819988,6.586408,0.000000,16.713396,-162.202426,-146.607753,-96.311844
4,20～24歳,-4600.639624,-4531.025148,-2482.721024,127.727652,-219.035025,44.060142,-154.861733,-35.080567,-49.776845,-4.764212,-1.588071,31.669206,-1197.411959,-589.242713,-69.614476
5,25～29歳,-1461.101087,-1393.502635,-171.915258,-137.998092,-401.517928,127.328389,-29.691290,5.544996,23.076192,5.141354,-11.532839,16.634989,-597.248770,-221.324379,-67.598452
6,30～34歳,-550.468470,-502.772259,36.471526,-139.258737,-137.497865,49.515123,-12.938690,-0.859192,-21.244577,25.304221,6.586408,-8.747638,-217.901409,-82.201430,-47.696211
7,35～39歳,-5.206398,-65.015837,38.854179,-87.450975,-34.638816,53.368237,10.855867,-7.081161,36.810559,17.129742,7.133067,0.377142,-66.113099,-34.260579,59.809439
8,40～44歳,63.694092,97.591327,49.970673,3.107153,32.775226,15.671985,-14.253431,6.495298,-8.747638,17.806714,15.307546,20.670322,-14.710075,-26.502446,-33.897234
9,45～49歳,99.490835,78.001619,66.410739,-59.476974,33.087759,48.096570,-9.033670,-5.584200,15.815001,9.358906,24.028683,11.909981,-13.173911,-43.437266,21.489216
10,50～54歳,7.620156,-25.987762,8.733840,-159.535930,38.437833,34.702330,14.396447,2.499169,14.630573,6.586408,23.078381,35.066770,-61.309684,16.726099,33.607918
11,55～59歳,17.372192,79.007112,4.776914,74.870156,-10.296505,12.860283,2.134729,-11.532839,-6.807831,-7.718929,45.375978,7.093864,-30.850312,-0.898395,-61.634920
12,60～64歳,-40.823771,-41.395836,3.501377,-2.109324,19.759224,-0.026501,-3.813910,2.043620,4.633898,-11.623949,30.888421,-9.255094,-55.920407,-19.473192,0.572065
13,65歳以上,-210.696504,-125.461949,11.220306,-4.621195,3.045828,28.675284,2.043620,2.225839,-15.073420,2.316949,62.231296,-66.672461,-85.991028,-64.862967,-85.234554

In [50]:
# 徳島県神山町
df_kamiyama_moving_in = pd.read_csv("../data/out/tokushima_moving_in_2023.csv")
df_kamiyama_moving_out = pd.read_csv("../data/out/tokushima_moving_out_2023.csv")
df_kamiyama_moving_in.rename(columns={"5歳階級別\u3000県内市町村間の移動状況": "5歳階級別", "神山町": "総計"}, inplace=True)
df_kamiyama_moving_out.rename(columns={"5歳階級別\u3000県内市町村間の移動状況": "5歳階級別", "神山町": "総計"}, inplace=True)
df_kamiyama_moving_index = df_kamiyama_moving_in["5歳階級別"]
df_kamiyama_moving = pd.concat(
    [
        df_kamiyama_moving_index,
        df_kamiyama_moving_in.drop(["5歳階級別"], axis=1) - df_kamiyama_moving_out.drop(["5歳階級別"], axis=1)
    ], axis=1
)
over_65_sum = df_kamiyama_moving[
    df_kamiyama_moving["5歳階級別"].str.startswith(
        ("65", "70", "75", "80", "85", "90", "95", "100", "年齢不詳")
    )]["総計"].sum()
df_kamiyama_moving["5歳階級別"] = df_kamiyama_moving["5歳階級別"].apply(lambda x: f"{x}歳")
df_kamiyama_moving = pd.concat([df_kamiyama_moving[0:13], pd.DataFrame({"5歳階級別": "65歳以上", "総計": over_65_sum}, index=[0])], ignore_index=True)
df_kamiyama_moving.tail()

     5歳階級別  総計
9   45～49歳   4
10  50～54歳   2
11  55～59歳   3
12  60～64歳  -3
13   65歳以上   4

In [51]:
# 佐賀県嬉野市
df_ureshino_moving = pd.read_csv("../data/out/ureshino_moving.csv")
df_ureshino_moving = df_ureshino_moving.drop(["Unnamed: 0", "西暦", "総計", "五町田", "久間", "塩田", "吉田"], axis=1)
df_ureshino_moving

    嬉野
0 -108

In [52]:
# 長野県小布施町
df_nagano = pd.read_excel("../data/2023_長野県_移動状況.xlsx", header=None)
df_obuse = df_nagano[df_nagano[1] == "小布施町"]
obuse_jan = df_obuse.iloc[0, [2, 3, 4, 5]].values
obuse_dec = df_obuse.iloc[0, [46, 47, 48, 49]].values
difference = obuse_dec - obuse_jan

header = ["世帯数", "総計", "男", "女"]
df_obuse_moving = pd.DataFrame([difference], columns=header)
df_obuse_moving

   世帯数  総計  男   女
0   54  21 -8  29

In [53]:
# 沖縄県南城市
header=["市町村名", "2002年総計", "出生", "死亡", "自然増減", "自然増減率", "転入_県外", "転入_県内", "転入_その他", "転入_計",
        "転出_県外", "転出_県内", "転出_その他", "転出_計", "社会増減", "社会増減率", "人口増減数", "人口増減率", "2003年総計", "市町村名_別"]
df_nanjo_moving = pd.read_excel("../data/沖縄県_市町村別人口増減数.xls")[20:21]
df_nanjo_moving.columns = header
df_nanjo_moving.drop(columns=["2002年総計", "市町村名_別"], inplace=True)
df_nanjo_moving.reset_index(drop=True, inplace=True)
df_nanjo_moving

,市町村名,出生,死亡,自然増減,自然増減率,転入_県外,転入_県内,転入_その他,転入_計,転出_県外,転出_県内,転出_その他,転出_計,社会増減,社会増減率,人口増減数,人口増減率,2003年総計
0,南 城 市,426,510,-84,-0.186692,658,1819,33,2510,652,1147,13,1812,698,1.551318,614,1.364626,45608

In [54]:
# 熊本県上天草市
header = ["市町村名", "世帯数", "総人口", "男性", "女性", "人口性比（女=100）", "1世帯当たり人員",
          "純増減", "出生者", "死亡者", "自然増減", 
          "転入者_総数", "転入者_県内", "転入者_県外", "転入者_その他", "転出者_総数", "転出者_県内", "転出者_県外", "転出者_その他",
          "社会増減", "人口増減率"]
df_kamiamakusa_moving = pd.read_excel("../data/2023_熊本県_移動状況.xlsx")[22:23].drop(["Unnamed: 0", "Unnamed: 22", "Unnamed: 23", "Unnamed: 24"], axis=1)
df_kamiamakusa_moving.columns = header
df_kamiamakusa_moving.reset_index(drop=True, inplace=True)
df_kamiamakusa_moving

,市町村名,世帯数,総人口,男性,女性,人口性比（女=100）,1世帯当たり人員,純増減,出生者,死亡者,...,転入者_総数,転入者_県内,転入者_県外,転入者_その他,転出者_総数,転出者_県内,転出者_県外,転出者_その他,社会増減,人口増減率
0,上天草市,9753,22701,10676,12025,88.781705,2.327592,-765,110,523,...,467,241,194,32,819,568,225,26,-352,-3.260036

In [55]:
# 長野県野沢温泉村
df_nagano = pd.read_excel("../data/2023_長野県_移動状況.xlsx", header=None)
df_nozawaonsen = df_nagano[df_nagano[1] == "野沢温泉村"]
obuse_jan = df_obuse.iloc[0, [2, 3, 4, 5]].values
obuse_dec = df_obuse.iloc[0, [46, 47, 48, 49]].values
difference = obuse_dec - obuse_jan

header = ["世帯数", "総計", "男", "女"]
df_nozawaonsen_moving = pd.DataFrame([difference], columns=header)
df_nozawaonsen_moving

   世帯数  総計  男   女
0   54  21 -8  29

In [56]:
# 秋田県大潟村
df_ogata_moving = pd.read_excel("../data/2023_秋田県_移動状況.xlsx", sheet_name="Sheet1")

over_65 = ("65", "70", "75", "80", "85", "90", "95", "100")
over_65_sum = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["総計"].sum()
over_65_sum_man = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["男"].sum()
over_65_sum_woman = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["女"].sum()
over_65_in_inner_man = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["転入_県内_男"].sum()
over_65_in_inner_woman = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["転入_県内_女"].sum()
over_65_in_outer_man = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["転入_県外_男"].sum()
over_65_in_outer_woman = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["転入_県外_女"].sum()
over_65_out_inner_man = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["転出_県内_男"].sum()
over_65_out_inner_woman = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["転出_県内_女"].sum()
over_65_out_outer_man = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["転出_県外_男"].sum()
over_65_out_outer_woman = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["転出_県外_女"].sum()
over_65_dead_man = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["死亡_男"].sum()
over_65_dead_woman = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["死亡_女"].sum()
over_65_different_man = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["差引増減_男"].sum()
over_65_different_woman = df_ogata_moving[df_ogata_moving["Unnamed: 0"].str.startswith(over_65)]["差引増減_女"].sum()

df_ogata_moving["Unnamed: 0"] = df_ogata_moving["Unnamed: 0"].apply(lambda x: f"{x}歳")
df_ogata_moving = pd.concat([df_ogata_moving[0:13], pd.DataFrame(
    {
        "Unnamed: 0": "65歳以上", 
        "総計": over_65_sum,
        "男": over_65_sum_man,
        "女": over_65_sum_woman,
        "転入_県内_男": over_65_in_inner_man,
        "転入_県内_女": over_65_in_inner_woman,
        "転入_県外_男": over_65_in_outer_man,
        "転入_県外_女": over_65_in_outer_woman,
        "転出_県内_男": over_65_out_inner_man,
        "転出_県内_女": over_65_out_inner_woman,
        "転出_県外_男": over_65_out_outer_man,
        "転出_県外_女": over_65_out_outer_woman,
        "死亡_男": over_65_dead_man,
        "死亡_女": over_65_dead_woman,
        "差引増減_男": over_65_different_man,
        "差引増減_女": over_65_different_woman
    }, index=[0])], ignore_index=True)
df_ogata_moving.rename(columns={"Unnamed: 0": "5歳階級別"}, inplace=True)
df_ogata_moving.tail()

,5歳階級別,総計,男,女,転入_県内_男,転入_県内_女,転入_県外_男,転入_県外_女,転出_県内_男,転出_県内_女,転出_県外_男,転出_県外_女,死亡_男,死亡_女,差引増減_男,差引増減_女
9,45～49歳,1257,639,618,9,11,2,2,9,13,5,2,0,2,-3,-4
10,50～54歳,1279,641,638,7,7,0,1,6,11,1,1,3,3,-3,-7
11,55～59歳,1323,659,664,5,7,2,2,11,12,0,3,3,1,-7,-7
12,60～64歳,1515,735,780,9,4,5,1,10,1,3,1,10,3,-9,0
13,65歳以上,9226,3788,5438,20,32,1,3,24,37,6,3,218,242,-227,-247

### CSVに書き出し
前処理と別の処理を分離させるため、一度CSVに書き出す

In [57]:
df_hiroshima_moving.to_csv("../data/out/hiroshima_moving.csv", index=True, encoding="utf-8")
df_kamiyama_moving.to_csv("../data/out/kamiyama_moving.csv", index=True, encoding="utf-8")
df_ureshino_moving.to_csv("../data/out/ureshino_moving.csv", index=True, encoding="utf-8")
df_obuse_moving.to_csv("../data/out/obuse_moving.csv", index=True, encoding="utf-8")
df_nanjo_moving.to_csv("../data/out/nanjo_moving.csv", index=True, encoding="utf-8")
df_kamiamakusa_moving.to_csv("../data/out/kamiamakusa_moving.csv", index=True, encoding="utf-8")
df_nozawaonsen_moving.to_csv("../data/out/nozawaonsen_moving.csv", index=True, encoding="utf-8")
df_ogata_moving.to_csv("../data/out/ogata_moving.csv", index=True, encoding="utf-8")